#{field 'object.' + _name}
#{ifError field.name}
	<div class="control-group error">
#{/ifError}
#{else}
	<div class="control-group">
#{/else}
	<label class="control-label" for="${field.id}">&{_name}</label>
	<div class="controls">
    <input id="${field.id}" class="${field.errorClass}" type="checkbox" name="${field.name}" value="true" ${(params[field.name] ? params.getAll(field.name)[0] == 'true' : _value) ? 'checked="true"'.raw() : ''} />
    <input type="hidden" name="${field.name}" value="false" />
	</div>
#{/field}
</div>
