#{field 'object.' + _name}
#{ifError field.name}
	<div class="control-group error">
#{/ifError}
#{else}
	<div class="control-group">
#{/else}
    <label class="control-label" for="${field.id}">&{_name}</label>
    <div class="controls">
<select id="${field.id}" name="${field.name}">
        %{ _property.choices.each() { }%
        %{
                selected = false;
                if(field.error?.message != 'validation.required') {
                    selected = it == _value;
                }
                label = it.toString()

        }%
        <option name="${it.name()}" ord="${it.ordinal()}" value="${it.name()}" ${selected ? 'selected="true"'.raw() : ''}>${label}</option>
        %{ } }%
</select>
</div>
#{/field}
</div>
